---
---

@import "{{ site.theme }}";

header {
  background-image: linear-gradient(to left, transparent, #78C0E0 70%), url("/img/clouds3.jpg");
  opacity: 0.7;
  background-position: right 0px top 20%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  height: 4.5em;
}

.portal-name {
  cursor: pointer;
  font-family: 'Montserrat';
  color: white;
  margin: 0;
  line-height: 1; }
  .portal-name > h1 {
    display: inline;
    margin: 0; }
  .portal-name > span {
    font-size: 0.8em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .3em;
  }

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
